body 	{background:url("../img/128-192.jpg") repeat;}

/* css za jednostabvan kalkulator  */
#simple {width: 300px;padding: 2px;margin: 0 auto;border: 2px solid white;margin-top: 150px;border-radius: 5px;}
#simple input[type=text] {width: 296px;height: 30px;}
#simple button {width: 100px;height: 30px;background-color: orange;border-radius: 5px;font-size: 15px;}


/* css za slozeniji kalkulator*/
#tbl 	{width: 500px;padding: 0;margin: 0 auto;border: 2px solid white;margin-top: 150px;border-radius: 5px;}
#tbl th {background-color: orange; border-radius: 5px; text-transform: uppercase;  }
#prikaz {width: 100%;height: 40px;font-size: 30px;}
#tbl button {width: 100px;height: 30px;background-color: orange;border-radius: 5px;font-size: 15px;}